*.swp
*.out

.local.mk
.env
.env.local
.envrc-local

ignore/

build/
dist/
.kaniko/

__pycache__/
virtualenvs
.venvs
__build__.py
pytest.ini
*.egg-info

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
tfplan.out

log/
local-data/
tmp-test/
epo-data/

.vscode

.mypy_cache

.vscode

localstack/
.localstack/volume
.localstack/data
postgres-data/

.coverage.*
.coverage

**.DS_Store
