services:

  customer:
    image: registry.gitlab.com/autolan/api:${PRJ_VERSION}
    restart: always
    ports:
      - 8081:8080

  dummy:
    image: registry.gitlab.com/autolan/lib:${PRJ_VERSION}
    command: --log_stdout dummy-cli